:root {
  --nav-color: #AaC87810;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/oldpaper.jpg");
  background-position: center;
  background-size: contain;
  height: 100%;
  width: 100vw;
  position: relative;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

nav {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  padding: 0 24px;
  clip-path: inset(0 -100vmax);
  box-shadow: 2px 0 0 100vmax var(--nav-color);
  background-color: var(--nav-color);
}

nav .container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#leftNav {
  flex: 1;
}

nav .img_wrapper {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

nav .img_wrapper img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

nav .img_wrapper img:hover {
  animation: rotate 9000ms linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

#navItems {
  flex: 1;
  display: flex;
  gap: 36px;
  align-items: center;
  justify-content: center;
  list-style: none;
}

#navItems a {
  color: black;
  padding: 4px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  transition: all 200ms ease-in-out;
}

#navItems a:hover {
  background-color: #2c5f3470;
}

#navItems a:before {
  content: "";
  position: absolute;
  background-color: #BE5103;
  width: 0%;
  height: 3px;
  bottom: 0;
  right: 0;
  transition: all 200ms ease-in-out;
}

#navItems a:hover:before {
  width: 100%;
  left: 0;
}

#heroSection {
  height:100vh;
  width: 100vw;
  background-image: url("./assets/Linkbackground.jpg");
  background-size: cover;
  background-position: center
}

#filterBar {
  width:100%;
  height: 50px;
  background-color: #27667b;
  position: sticky;
  margin-top: -50px;
  top: 70px;
}

#filterBar ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style:none;
}

#filterBar ul li {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid silver;
  transition: all 200ms ease;
  cursor: pointer;
}

#filterBar ul li:hover {
  border-radius: 0;
  background-color: #57667B;
  opacity: .7;
}

#displaySection {
  height: 100%;
  width: 100vw;
  padding: 32px;
}

#displayHolder {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.zeldaItem {
  border: 3px solid red;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 6px;
  display: flex;
  gap: 12px;
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(6px); 
}

.zeldaItem .img_wrapper {
  border-radius: 6px;
  overflow: hidden;
  height: 100%;
  flex: 1;
}

.zeldaItem .img_wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.zeldaInfoHolder {
  height: 100%;
  padding: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.zeldaHeadInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.zeldaHeadInfo h4 {
  font-size: 24px;
}

.zeldaInfo {
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-around;
}

.zeldaInfo p {
  text-align: center;
}

.zeldaInfo i {
  font-size: 28px;
}



